<html lang="en">
  <head>
       {{>headerlinks}}
  </head>
  <body>
    <!-- <h1>Welocome to thapa technical static page</h1>
    <button class="btn btn-denger">Hello</button> -->
{{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
            <!-- left side div -->
            <div class="col-md-12 col-12 main_header_left main_header_lefr_2 align-items-center">
              <figure class="errimg">
                  <div class="carousel-inner errorimg">
                      <img
                        src="images/error-removebg-preview.png"
                        class="w-100"
                        alt="errorimg"
                      />
                    </div>

              </figure>
            <!-- right side div -->
              <p>Welcome to Error Page</p>
              <h1>
               {{errorMsg}}
              </h1>
              <a href="/" ><button>Go Back</button></a>
            </div>
    </div>
    <!-- Footer section -->
    {{>footer}}
  </body>
</html>