<html lang="en">
  <head>
       {{>headerlinks}}
  </head>
  <body>
    <!-- <h1>Welocome to thapa technical static page</h1>
    <button class="btn btn-denger">Hello</button> -->
{{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                <div
                  id="carouselExampleControls"
                  class="carousel slide"
                  data-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img
                        src="images/developer.png"
                        class="w-100"
                        alt="developerimg"
                      />
                    </div>
                  </div>
                </div>
              </figure>
            </div>
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to weather app</p>
              <h1>
                I am A
                <span class="text-clr">Fresher Developer</span> And Graduate To
                B.C.A
              </h1>
              <a href="https://trignoweb.com/" target="_sahil"><button>About Me</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer section -->
    {{>footer}}
  </body>
</html>